$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

// FUENTES
$font_bigshoulders: 'Big Shoulders';
$font_outfit: 'Outfit';


// COLORES
$dorado: #D5966C;
$negro: #151515;
$gris-oscuro: #444444;

// DIMENSIONES
$ancho_maximo: 1110px;